<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="..\packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSources>
    <add key="skype calling platform nugets" value="https://skype.pkgs.visualstudio.com/_packaging/csc/nuget/v3/index.json" />
  </packageSources>
  <packageSources>
    <add key="skype calling platform nugets tps" value="https://skype.pkgs.visualstudio.com/_packaging/tps/nuget/v3/index.json" />
  </packageSources>  
</configuration>